<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'mail_trackers', :plugin => 'mail_trackers' %>
<% end %>

<% html_title "Mail Trackers" %>

<h2>Mail Tracking</h2>

<fieldset>
<legend><h3>SparkPost API Key</h3></legend>

<table border>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>

  <tr>
    <td>file path</td>
    <td><%= @yaml %></td>
  </tr>

  <tr>
    <td>address</td>
    <td><%= @address %></td>
  </tr>

  <tr>
    <td>domain</td>
    <td><%= @domain %></td>
  </tr>

  <tr>
    <td>user_name</td>
    <td><%= @user_name %></td>
  </tr>

  <tr>
    <td>password</td>
    <td><%= @password %></td>
  </tr>
</table>
</fieldset>


<fieldset>
<legend><h3>Deliverability Metrics</h3></legend>

[<%= link_to 'Summary', { :action => 'summary', :project_id => params[:project_id] }, :method => :get %>]

[<%= link_to 'Bounce Reason', { :action => 'bounce', :project_id => params[:project_id] }, :method => :get %>]

[<%= link_to 'Rejection', { :action => 'reject', :project_id => params[:project_id] }, :method => :get %>]

[<%= link_to 'Delay', { :action => 'delay', :project_id => params[:project_id] }, :method => :get %>]

</fieldset>
